<h4>Save the world with Nardomen</h4>
<p class = 'not-logged-home'>
	Aiuta il nostro supereroe a salvare il mondo.
	<br/>
	Raccogli gli 'yo' per aumentare il suo immenso potere.
	<br/>
	Fuggi dai cattivi BlackF1Re e Rahios che vogliono mangiarti
	<br/>
	<span>per conquistare il mondo conosciuto</span>
</p>

<p class = 'sign-up-button'>
	So don't waste your time <br/>
	<%= link_to "Sign up now!" , new_user_registration_path %>
</p>
