<%= provide(:title , 'About')%>
<div class="spazio">

<h1 id="titolostore">About</h1>
<br>

<div class="text-center">

	<p>
		We are 3 computer engineering students from "Sapienza Università di Roma".<br/>
		This web application is developed for the exam "Laboratorio di architetture software e sicurezza informatica"
		<br/>
		<br/>
		The game is devoloped with Phaser (click on the image to retreive more information about it)<br/>
		<a href="https://phaser.io" target = '_blanck'> <img src="https://phaser.io/images/img.png" width = '100px' height = '100px'> </a>
		
	</p>

</div>
</div>
