<%= provide :title , 'Contact' %>
<div class="spazio">
	<h1>Contact:</h1>
	<div>

		<ul>
			<li> Grieco Antonio:  <i>antonio_grieco.96@hotmail.it</i> </li>
			<li> Nardocci Andrea: <i>nardomen96@gmail.com</i> </li>
			<li> Milani Stefano:  <i>stefano.milani96@gmail.com</i> </li>
		</ul>

		<br><br><br><br><br>
	</div>
</div>