<%= provide :title , 'Other Projects' %>
<div class="spazio">
	<h1 id="titolostore">Other projects</h1>
	<br>
	<div class="text-center">
		<p> Support us visiting our projects</p>
		<ul class="list-unstyled">

			<li> <a href = 'http://nardomen.altervista.org' target = '_blanck'>Nardomen (First version)</a> </li>
			<li> <a href = 'https://gitlab.com/Grieco96/RaspberryProject' target = '_blanck'>Raspberry PI home survelliance </a> </li>
			<br><br><br><br><br><br>
		</ul>
	</div>
</div>
