<%= provide :title,  "Search"%>
<div class = 'users-list result spaziosearch'>
	<%= render 'search_list' %>
<hr>
	<p class="text-right">
		<small>
			<small>
				search powered by Rahios <span> &copy; </span>
			</small>
		</small>
	</p>
</div>