<h1 id="titolostore"><small>Save the world with </small> <br>nardomen!</h1>
<br>

<div id="gameContainer" class="classo" align='center'>	
</div>

<hr>
<p class="text-right">
	<small>
		Game powered by GNM corporation 
	</small>
	&copy;
</p>

<%= render :partial => "game" %>

<!-- Page of updating game
	<div class="container">

		<div class="row">
	  		<div class="col">
	  			<div class="circle">
	  			</div>
	  			<br><br><br><br><br><br><br><br><br><br>
			</div>
		</div>
	</div>
-->