<%= provide :title , 'Game Settings' %>
<div class="text-center">
	<br><br>
	<h1 id="titolostore"> Game settings </h1>
	<h4> Choose your skins and your landscape </h4>
	<%= render 'settings_form' %>
	<br>
</div>


