<ul class="list-unstyled list-inline social text-center social-share-button" data-title="Hey! Come and play Nardomen" data-img="" data-url="/" data-desc="" data-via="">
	
	<li class="list-inline-item social-share" data-title="Hey! Come and play Nardomen">
		<%= link_to '#' , class: "ssb-icon ssb-facebook", :onclick => "return SocialShareButton.share(this);", :title => "Share to Facebook" , :"data-site" => "facebook" , :rel => "nofollow " do %>
			<i class="fa fa-facebook"></i>
		<% end %>
	</li>

	<li class="list-inline-item social-share" data-title="Hey! Come and play Nardomen">
		<%= link_to '#' , class: "ssb-icon ssb-twitter", :onclick => "return SocialShareButton.share(this);", :title => "Share to Twitter" , :"data-site" => "twitter" , :rel => "nofollow "  do %>
			<i class="fa fa-twitter"></i>
		<% end %>
	</li>

</ul>


<!--

	<li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
	<li class="list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
	<li class="list-inline-item"><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
	<li class="list-inline-item"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
	<li class="list-inline-item"><a href="https://www.google.com/gmail/" target="_blank"><i class="fa fa-envelope"></i></a></li>

-->